//------------------------------------------------------------------------
//  $Typography
//------------------------------------------------------------------------

$ff-primary   : 'Fira Sans', sans-serif;
$ff-secondary : 'Arvo', sans-serif;

$fw-light     : 300;
$fw-regular   : 400;
$fw-medium    : 500;
$fw-bold      : 700;

//------------------------------------------------------------------------
//  $Colours
//------------------------------------------------------------------------

$white: #fff;
$off-white: #f7f7f7;
$black: #000;
$light-grey: #e6e6e6;
$grey: #5D5D5D;
$dark-grey: #404040;
$primary-colour: #ff4570;
$navy: #003561;
$yellow: #f0c72f;

$theme1: #f7bda7;
$theme2: #ee8596;
$theme3: #e05487;
$theme4: #a83e90;
$theme5: #712998;
$theme6: #542277;
$theme7: #391550;

//------------------------------------------------------------------------
//  $Layout
//------------------------------------------------------------------------

$max-width     : 1280;
$space         : 30;
$header-height : 440;
$share-width   : 40;

//------------------------------------------------------------------------
//  $Media Queries
//------------------------------------------------------------------------

$small  : em(480);
$medium : em(768);
$large  : em(1024);
$xlarge : em(1280);

$small-screen-up     : new-breakpoint(min-width $small);
$medium-screen-up    : new-breakpoint(min-width $medium);
$large-screen-up     : new-breakpoint(min-width $large);
$xlarge-screen-up    : new-breakpoint(min-width $xlarge);
$max-width-screen-up : new-breakpoint(min-width em($max-width));
