{% extends '_layouts/application.html' %}
{% block content %}
  <section class="section">
    <!-- <nav class="wrapper">
      <ul class="menu">
        <li class="menu__item"><a href="#{{ section5Sub1 | lower | replace(' ', '-') }}" class="menu__link js-scroll-to">{{ section5Sub1 }}</a></li>
        <li class="menu__item"><a href="#{{ section5Sub2 | lower | replace(' ', '-') }}" class="menu__link js-scroll-to">{{ section5Sub2 }}</a></li>
        <li class="menu__item"><a href="#{{ section5Sub3 | lower | replace(' ', '-') }}" class="menu__link js-scroll-to">{{ section5Sub3 }}</a></li>
        <li class="menu__item"><a href="#{{ section5Sub4 | lower | replace(' ', '-') }}" class="menu__link js-scroll-to">{{ section5Sub4 }}</a></li>
      </ul>
    </nav> -->

    <div class="section__header wrapper u-space--m">
      <div class="section__intro">
        <h2>{{ section5Subtitle }}</h2>
        <!-- <p>{{ section5Intro1 }}</p> -->
      </div>

      <!-- <aside class="section__related">
        <article class="story-link">
          <img src="/images/dummy.jpg" alt="">
          <h4>{{ story1Title }}</h4>
          <p>{{ story1Desc }}</p>
          <a href="{{ story1Link }}" class="link">{{ linkCTA }}</a>
        </article>

        <article class="story-link">
          <h4>{{ story1Title }}</h4>
          <p>{{ story1Desc }}</p>
          <a href="{{ story1Link }}" class="link">{{ linkCTA }}</a>
        </article>
      </aside> -->
    </div>

    <!-- <div id="{{ section5Sub1 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section5Sub1 }}</h3>
        </div>
      </div>

      <div class="subsection__main wrapper">
        <div class="subsection__text-block">
          <p class="subsection__text-strong">{{ section5Sub1P1 }}</p>

          <p class="subsection__text">{{ section5Sub1P2 }}</p>
        </div>

        {% include '_partials/visualizations/area.html' %}

        <div class="subsection__text-block">
          <p class="subsection__text-strong">{{ section5Sub1P1 }}</p>

          <p class="subsection__text">{{ section5Sub1P2 }}</p>
        </div>
      </div>
    </div> -->

    <div class="section__pag wrapper u-space--l">
      <a href="{{ section4Link }}" class="pag pag--prev"><span class="pag__item">{{ prev }}</span> <span class="pag__item">{{ section4Subtitle }}</span></a>
    </div>
  </section>

{% endblock %}
