{% extends '_layouts/application.html' %}
{% block content %}
  <section class="section">
    <nav class="wrapper">
      <ul class="menu">
        <li class="menu__item"><a href="#{{ section1Sub1 | lower | replace(' ', '-') }}" class="menu__link js-scroll-to">{{ section1Sub1 }}</a></li>
        <li class="menu__item"><a href="#{{ section1Sub2 | lower | replace(' ', '-') }}" class="menu__link js-scroll-to">{{ section1Sub2 }}</a></li>
        <li class="menu__item"><a href="#{{ section1Sub3 | lower | replace(' ', '-') }}" class="menu__link js-scroll-to">{{ section1Sub3 }}</a></li>
        <li class="menu__item"><a href="#{{ section1Sub4 | lower | replace(' ', '-') }}" class="menu__link js-scroll-to">{{ section1Sub4 }}</a></li>
      </ul>
    </nav>

    <div class="section__header wrapper u-space--m">
      <div class="section__intro">
        <h2>{{ section1Subtitle }}</h2>
        <p>{{ section1Intro1 }}</p>
      </div>

      <aside class="section__related">
        <article class="story-link">
          <img src="/images/dummy.jpg" alt="">
          <h4>{{ story1Title }}</h4>
          <p>{{ story1Desc }}</p>
          <a href="{{ locale(iso) }}{{ story1Link }}" class="link">{{ linkCTA }}</a>
        </article>
      </aside>
    </div>

    <div id="{{ section1Sub1 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section1Sub1 }}</h3>
        </div>
      </div>

      <div class="subsection__main wrapper">
        <div class="subsection__text-block">
          <p class="subsection__text-strong">{{ section1Sub1P1 }}</p>

          <p class="subsection__text">{{ section1Sub1P2 }}</p>
        </div>

        {% include '_partials/visualizations/area.html' %}

        <div class="subsection__text-block">
          <p class="subsection__text-strong">{{ section1Sub1P1 }}</p>

          <p class="subsection__text">{{ section1Sub1P2 }}</p>
        </div>
      </div>
    </div>

    <div id="{{ section1Sub2 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section1Sub2 }}</h3>
        </div>
      </div>
    </div>

    <div id="{{ section1Sub3 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section1Sub3 }}</h3>
        </div>
      </div>
    </div>

    <div id="{{ section1Sub4 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section1Sub4 }}</h3>
        </div>
      </div>
    </div>

    <div class="section__pag wrapper u-space--l">
      <a href="{{ locale(iso) }}{{ section2Link }}" class="pag pag--next"><span class="pag__item">{{ next }}</span> <span class="pag__item">{{ section2Subtitle }}</span></a>
    </div>
  </section>

{% endblock %}
