{% extends '_layouts/application.html' %}
{% block content %}
  <!-- <div class="row">
    <div class="table">
      <div class="table__cell">
        <div class="media">
          <div class="media__figure">
            <div class="media__image"></div>
          </div>

          <div class="media__body">
            <h4>Digital Inclusion</h4>
            <h3>Who's welcome online?</h3>
            <p>Read more</p>
          </div>
        </div>
      </div>

      <div class="table__cell">
        <h4>Featured stories</h4>
        <a href="#">Why don't more women code?</a>
        <a href="#">Another story headline here</a>
      </div>
    </div>
  </div> -->
{% endblock %}
