{% extends 'layouts/application.html' %}
{% block content %}
  <!-- <div id="multiline" class="multiline js-multiline" data-url="{{ homeURL }}/data/multiline.tsv"></div> -->
  <!-- <div id="line" class="line js-line" data-url="{{ homeURL }}/data/line.tsv"></div> -->
  <div id="donut1" class="donut js-donut" data-url="{{ homeURL }}/data/donut-percentage.csv"></div>
  <div id="donut" class="donut js-donut" data-url="{{ homeURL }}/data/donut.csv"></div>
  <!-- <div id="area" class="area js-area" data-url="{{ homeURL }}/data/area.tsv"></div> -->
  <!-- <div id="stacked1" class="stacked-area js-stacked-area" data-url="{{ homeURL }}/data/stacked-area.tsv"></div> -->
  <!-- <div id="choropleth" class="choropleth js-choropleth" data-url="{{ homeURL }}/data/internet-penetration.csv" data-value="penetration" data-title="Internet penetration (% 2016)"></div> -->
{% endblock %}
