{% extends '_layouts/application.html' %}
{% block content %}
  {% include './_partials/visualizations/bubble.html' %}
  {% include './_partials/visualizations/multiline.html' %}
  {% include './_partials/visualizations/line.html' %}
  {% include './_partials/visualizations/donut.html' %}
  {% include './_partials/visualizations/donut-multi.html' %}
  {% include './_partials/visualizations/area.html' %}
  {% include './_partials/visualizations/stacked-area.html' %}
  {% include './_partials/visualizations/choropleth.html' %}
{% endblock %}
