{% extends '_layouts/application.html' %}
{% block content %}
  {% set open = true %}
  {% include './_partials/header.html' %}
  <section class="section js-page" data-page="{{ section4Title|lower|replace(' ', '-') }}">
    <!-- <nav class="wrapper">
      <ul class="menu">
        <li class="menu__item"><a href="#{{ section4Sub1 | lower | replace(' ', '-') }}" class="menu__link js-scroll-to">{{ section4Sub1 }}</a></li>
        <li class="menu__item"><a href="#{{ section4Sub2 | lower | replace(' ', '-') }}" class="menu__link js-scroll-to">{{ section4Sub2 }}</a></li>
        <li class="menu__item"><a href="#{{ section4Sub3 | lower | replace(' ', '-') }}" class="menu__link js-scroll-to">{{ section4Sub3 }}</a></li>
        <li class="menu__item"><a href="#{{ section4Sub4 | lower | replace(' ', '-') }}" class="menu__link js-scroll-to">{{ section4Sub4 }}</a></li>
      </ul>
    </nav> -->

    <div class="section__header wrapper u-space--m">
      <div class="section__intro">
        <h2>{{ section4Subtitle }}</h2>
        <!-- <p>{{ section4Intro1 }}</p> -->
      </div>

      <!-- <aside class="section__related">
        <article class="story-link">
          <img src="/images/dummy.jpg" alt="">
          <h4>{{ story1Title }}</h4>
          <p>{{ story1Desc }}</p>
          <a href="{{ story1Link }}" class="link">{{ linkCTA }}</a>
        </article>

        <article class="story-link">
          <h4>{{ story1Title }}</h4>
          <p>{{ story1Desc }}</p>
          <a href="{{ story1Link }}" class="link">{{ linkCTA }}</a>
        </article>
      </aside> -->
    </div>

    <!-- <div id="{{ section4Sub1 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section4Sub1 }}</h3>
        </div>
      </div>

      <div class="subsection__main wrapper">
        <div class="subsection__text-block">
          <p class="subsection__text-strong">{{ section4Sub1P1 }}</p>

          <p class="subsection__text">{{ section4Sub1P2 }}</p>
        </div>

        {% include '_partials/visualizations/area.html' %}

        <div class="subsection__text-block">
          <p class="subsection__text-strong">{{ section4Sub1P1 }}</p>

          <p class="subsection__text">{{ section4Sub1P2 }}</p>
        </div>
      </div>
    </div> -->

    <div class="section__pag wrapper u-space--l">
      <a href="{{ locale(iso) }}{{ section3Link }}" class="pag pag--prev"><span class="pag__item">{{ prev }}</span> <span class="pag__item">{{ section3Subtitle }}</span></a>
      <a href="{{ locale(iso) }}{{ section5Link }}" class="pag pag--next"><span class="pag__item">{{ next }}</span> <span class="pag__item">{{ section5Subtitle }}</span></a>
    </div>
  </section>

{% endblock %}
