{% extends '_layouts/application.html' %}
{% block content %}
  {% set privacy = true %}
  {% include './_partials/header.html' %}
  <section class="section js-page" data-page="{{ section3Title|lower|replace(' ', '-') }}">
    <div class="section__header wrapper u-space--m">
      <div class="section__intro">
        <h2>{{ section3Subtitle }}</h2>
        <p>{{ section3Intro1 }}</p>
      </div>

      <aside class="section__related">
        <article class="story-link">
          <img src="/images/dummy.jpg" width="516" height="342" alt="">
          <h4>{{ story3Title }}</h4>
          <p>{{ story3Desc }}</p>
          <a href="{{ locale(iso) }}{{ story3Link }}" class="link">{{ linkCTA }}</a>
        </article>
      </aside>
    </div>

    <div id="{{ section3Sub1 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section3Sub1 }}</h3>
        </div>
      </div>

      <div class="subsection__main wrapper">
        {% include '_partials/visualizations/public-opinion-survey.html' %}
      </div>
    </div>

    <div id="{{ section3Sub2 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section3Sub2 }}</h3>
        </div>
      </div>

      <div class="subsection__main wrapper">
        {% include '_partials/visualizations/data-protection-rights.html' %}
      </div>
    </div>

    <div id="{{ section3Sub3 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section3Sub3 }}</h3>
        </div>
      </div>

      <div class="subsection__main wrapper">
        {% include '_partials/visualizations/https-share.html' %}
      </div>
    </div>

    <div id="{{ section3Sub4 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section3Sub4 }}</h3>
        </div>
      </div>

      <div class="subsection__main wrapper"></div>
    </div>

    <div class="section__pag wrapper u-space--l">
      <a href="{{ locale(iso) }}{{ section2Link }}" class="pag pag--prev"><span class="pag__item">{{ prev }}</span> <span class="pag__item">{{ section2Subtitle }}</span></a>
      <a href="{{ locale(iso) }}{{ section4Link }}" class="pag pag--next"><span class="pag__item">{{ next }}</span> <span class="pag__item">{{ section4Subtitle }}</span></a>
    </div>
  </section>

{% endblock %}
