{% extends '_layouts/application.html' %}
{% block content %}
  {% set web = true %}
  {% include './_partials/header.html' %}
  <section class="section js-page" data-page="{{ section2Title|lower|replace(' ', '-') }}">
    <div class="section__header wrapper u-space--m">
      <div class="section__intro">
        <h2>{{ section2Subtitle }}</h2>
        <p>{{ section2Intro1 }}</p>
      </div>

      <aside class="section__related">
        <article class="story-link">
          <img src="/images/dummy.jpg" width="516" height="342" alt="">
          <h4>{{ story3Title }}</h4>
          <p>{{ story3Desc }}</p>
          <a href="{{ locale(iso) }}{{ story3Link }}" class="link">{{ linkCTA }}</a>
        </article>
      </aside>
    </div>

    <div id="{{ section2Sub1 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section2Sub1 }}</h3>
        </div>
      </div>

      <div class="subsection__main wrapper">
        {% include '_partials/visualizations/facebook-is-the-internet.html' %}
      </div>
    </div>

    <div id="{{ section2Sub2 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section2Sub2 }}</h3>
        </div>
      </div>

      <div class="subsection__main wrapper">
        {% include '_partials/visualizations/europe-skills.html' %}
      </div>
    </div>

    <div id="{{ section2Sub3 | lower | replace(' ', '-') }}" class="subsection">
      <div class="subsection__header">
        <div class="wrapper">
          <h3>{{ section2Sub3 }}</h3>
        </div>
      </div>

      <div class="subsection__main wrapper">
        {% include '_partials/visualizations/online-making.html' %}
      </div>
    </div>

    <div class="section__pag wrapper u-space--l">
      <a href="{{ locale(iso) }}{{ section1Link }}" class="pag pag--prev"><span class="pag__item">{{ prev }}</span> <span class="pag__item">{{ section1Subtitle }}</span></a>
      <a href="{{ locale(iso) }}{{ section3Link }}" class="pag pag--next"><span class="pag__item">{{ next }}</span> <span class="pag__item">{{ section3Subtitle }}</span></a>
    </div>
  </section>

{% endblock %}
