//------------------------------------------------------------------------
//  $Main
//------------------------------------------------------------------------

::-webkit-scrollbar {
  display: none;
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  @include rem(font-size,16);
  line-height: 1.5;
  font-family: $ff-primary;
  color: $black;
  background-color: $white;
}

a {
  color: $primary-colour;
}

img {
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $ff-primary;
}