//------------------------------------------------------------------------
//  $Typography
//------------------------------------------------------------------------

$ff-primary   : 'Open Sans', sans-serif;
$ff-secondary : Georgia, serif;

$fw-light   : 300;
$fw-regular : 400;
$fw-bold    : 700;

//------------------------------------------------------------------------
//  $Colours
//------------------------------------------------------------------------

$white: #fff;
$black: #000;
$blue: blue;

//------------------------------------------------------------------------
//  $Layout
//------------------------------------------------------------------------

$max-width   : 1280;
$max-width-s : 960;
$gtr         : 30;
$gtr-half    : 15;
$cols        : 12;

//------------------------------------------------------------------------
//  $Media Queries
//------------------------------------------------------------------------

$s  : new-breakpoint(min-width 480px);
$m  : new-breakpoint(min-width 768px);
$l  : new-breakpoint(min-width 1024px);
$xl : new-breakpoint(min-width 1280px);

//------------------------------------------------------------------------
//  $zindex map
//------------------------------------------------------------------------

$zindex: (
    top:    500,
    bottom: 200
);
