//------------------------------------------------------------------------
//  $Typography
//------------------------------------------------------------------------

$ff-primary   : 'Open Sans', sans-serif;
$ff-secondary : Georgia, serif;

$fw-light   : 300;
$fw-regular : 400;
$fw-bold    : 700;

//------------------------------------------------------------------------
//  $Colours
//------------------------------------------------------------------------

$white: #fff;
$black: #000;
$grey: grey;
$lightgrey: lightgrey;
$theme1: #f7bda7;
$theme2: #ee8596;
$theme3: #e05487;
$theme4: #a83e90;
$theme5: #712998;
$theme6: #542277;
$theme7: #391550;

//------------------------------------------------------------------------
//  $Layout
//------------------------------------------------------------------------

$max-width : 1280;
$space     : 30;
$cols      : 12;

//------------------------------------------------------------------------
//  $Media Queries
//------------------------------------------------------------------------

$small  : em(480);
$medium : em(768);
$large  : em(1024);
$xlarge : em(1280);

$small-screen-up  : new-breakpoint(min-width $small);
$medium-screen-up : new-breakpoint(min-width $medium);
$large-screen-up  : new-breakpoint(min-width $large);
$xlarge-screen-up : new-breakpoint(min-width $xlarge);
