.donuts {
  text-align: center;

  &__col {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    @include rem(max-width, 320);
  }
}

.donut {
  position: relative;
  overflow: hidden;

  &--single {
    &__svg {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
  }

  .donuts & {
    margin: em($space * 0.5) 0;

    @include media($small-screen-up) {
      margin: em($space * 0.5);
    }
  }
}
