.language {
  @include appearance(none);
  border: none;
  border-radius: 0;
  background: none;

  width: 136%;
  padding: 1em 2.5em;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    cursor: pointer;
    background-color: rgba($black, 0.1);
  }

  &-container {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 1em;
      display: block;
      margin-top: -0.1em;
      border-top: 0.5em solid $black;
      border-left: 0.35em solid transparent;
      border-right: 0.35em solid transparent;
    }
  }
}