.article {
  padding-bottom: em($space);

  @include media($medium-screen-up) {
    padding-top: em($space * 2);
    padding-bottom: em($space * 2);
  }

  &__main {
    @include clearfix();
    position: relative;
  }

  &__metadata {
    color: rgba($dark-grey, 0.4);
  }

  &__metadata,
  &__copy {
    @include media($medium-screen-up) {
      @include span-columns(8);
      @include shift(2);
      @include omega;
    }
  }

  &__date {
    @include rem(font-size, 12);

    @include media($medium-screen-up) {
      font-weight: $fw-light;
      @include rem(font-size, 15);
    }
  }

  &__author {
    margin-top: 0.4em;
    @include rem(font-size, 14);

    @include media($medium-screen-up) {
      @include rem(font-size, 21);
    }
  }

  &__copy {
    @include flow();
    @include rem(font-size, 18);
    line-height: 1.62;
    letter-spacing: 0.01em;
    color: $black;

    .article__metadata + & {
      margin-top: em($space * 0.75);
    }
  }

  blockquote {
    position: relative;

    @include media($medium-screen-up) {
      left: flex-grid(-1, 12);
    }
  }

  &__figure {
    margin: 0;
    padding-top: em($space);

    @include media($medium-screen-up) {
      @include span-columns(12);
    }

    @include media($large-screen-up) {
      padding-top: em($space * 1.5);
      padding-bottom: em($space * 1.5);
    }

    img {
      position: relative;
      display: block;
      width: 100%;
    }
  }

  &__figcaption {
    margin-top: 1.5em;
    @include rem(font-size, 14);
    text-align: center;

    a {
      color: $black;
    }
  }
}
