//------------------------------------------------------------------------
//  $Footer
//------------------------------------------------------------------------

.footer {
  color: $white;
  background-color: $black;
  border-top: em(1) solid $grey;

  &__grid {
    @include media($medium-screen-up) {
      @include table();
    }
  }

  &__col {
    @include flow();
    padding: em($space) 0;

    @include media($medium-screen-up) {
      padding: em($space);

      @include display-context(table) {
        @include span-columns(6)
      }
    }

    &--first {
      @include media($medium-screen-up) {
        border-right: em(1) solid rgba($white, 0.4);
      }

      @include media($large-screen-up) {
        @include display-context(table) {
          @include span-columns(5);
        }
      }
    }

    &--last {
      border-top: 1px solid rgba($white, 0.4);

      @include media($medium-screen-up) {
        border-top: none;
      }

      @include media($large-screen-up) {
        @include display-context(table) {
          @include span-columns(7);
        }
      }
    }
  }

  &__title {
    @include rem(font-size, 14);
    font-weight: $fw-medium;
    line-height: 1.37;
    letter-spacing: 0;

    @include media($medium-screen-up) {
      @include rem(font-size, 19);
    }
  }

  &__text {
    @include rem(font-size, 15);
    font-weight: $fw-light;
    line-height: 1.6;
    letter-spacing: 0;

    &--2 {
      margin-top: 1.5em;
      padding-top: 1.5em;
      border-top: 1px solid rgba($white, 0.4);
    }
  }

  &__links {
    margin-left: -0.25em;
    margin-right: -0.25em;
  }

  &__link {
    display: block;
    margin: 0 0.25em;
    font-weight: $fw-medium;
    color: $white;
    text-decoration: none;
    transition: opacity 0.1s ease;

    &:hover,
    &:active,
    &:focus {
      outline: none;
      opacity: 0.5;
    }

    @include media($small-screen-up) {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      margin-left: 0.5em;
    }

    path {
      fill: $white;
      stroke: $white;
    }
  }
}
