//------------------------------------------------------------------------
//  $Header
//------------------------------------------------------------------------

.header {
  position: relative;
  background-color: $secondary-colour;

  @include media($medium-screen-up) {
    height: em($header-height);
  }

  &__top {
    padding-top: em(24);
  }

  &__wrapper {
    @include media($large-screen-up) {
      @include wrapper();
    }
  }

  &__main {
    padding: em($space * 1.5) 0;
    text-align: center;

    @include media($medium-screen-up) {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      padding: 0;
    }
  }

  &__title {
    display: inline;
    padding: em(6, 48) 0;
    font-family: $ff-secondary;
    @include rem(font-size, 22);
    font-weight: $fw-medium;
    line-height: 1.2;
    letter-spacing: 0.04em;
    background-color: $primary-colour;

    @include media($medium-screen-up) {
      @include rem(font-size, 48);
      padding: em(6, 48) 0;
    }
  }

  &__subtitle {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    @include rem(font-size, 14);
    line-height: 1.62;
    letter-spacing: 0.01em;

    @include media($medium-screen-up) {
      max-width: em(680, 21);
      @include rem(font-size, 21);
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $black;
  }

  &__nav {
    @include media($medium-screen-up) {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      text-align: center;
      transform: translateZ(0);

      &.is-fixed {
        position: fixed;
        top: 0;
        bottom: auto;
      }
    }
  }

  &__menu {
    position: relative;
    width: 100%;
    background-color: $off-white;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: em($space);
      background: linear-gradient(to left, $black, $white);
      opacity: 0.2;

      @include media(min-width em(950)) {
        display: none;
      }
    }
  }
}
