//------------------------------------------------------------------------
//  $Header
//------------------------------------------------------------------------

.header {
  position: relative;
  background-color: $yellow;

  @include media($medium-screen-up) {
    height: em(440);
  }

  &__main {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
  }

  &__title {
    font-family: $ff-secondary;
    @include rem(font-size, 48);
    font-weight: $fw-medium;
    line-height: 1.2;
    letter-spacing: 0.04em;
  }

  &__subtitle {
    @include rem(font-size, 21);
    line-height: 1.62;
    letter-spacing: 0.01em;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $black;
  }

  &__nav {
    @include media($large-screen-up) {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      text-align: center;
      transform: translateZ(0);

      &.is-fixed {
        position: fixed;
        top: 0;
        bottom: auto;
      }
    }
  }

  &__menu {
    margin-top: 1em;

    @include media($large-screen-up) {
      float: left;
      width: 100%;
      margin-top: 0;
      background-color: $off-white;
    }
  }

  &__language-select {
    @include media($large-screen-up) {
      float: right;
    }
  }
}
