.section {
  padding-bottom: em($space);

  @include media($medium-screen-up) {
    padding-top: em($space * 2);
    padding-bottom: em($space * 2);
  }

  &__wrapper {
    @include media($medium-screen-up) {
      @include table();
    }
  }

  &__menu {
    position: relative;
    margin-left: em(-$space / 2);
    margin-right: em(-$space / 2);

    @include media($medium-screen-down) {
      height: em($sidebar-height);
    }

    @include media($medium-screen-up) {
      @include display-context(table) {
        @include span-columns(3);
      }
      margin-left: 0;
      margin-right: 0;

      &:after {
        content: 'Fill';
        display: block;
        visibility: hidden;
        opacity: 0;
      }
    }

    @include media($large-screen-up) {
      @include display-context(table) {
        @include span-columns(2);
      }
    }
  }

  &__header {
    padding-top: em($space);

    @include media($medium-screen-up) {
      @include display-context(table) {
        @include span-columns(9);
      }
      padding-top: 0;
    }

    @include media($large-screen-up) {
      @include display-context(table) {
        @include span-columns(8);
      }
    }
  }

  &__block {
    @include flow();

    + #{&} {
      margin-top: em($space);
      padding-top: em($space);
      border-top: em(1) solid $grey;
    }
  }

  &__divider {
    padding: em(16) 0;
    background-color: $black;

    @include media($medium-screen-up) {
      padding: em(32) 0;
    }
  }

  &__title {
    @include rem(font-size, 18);
    font-weight: $fw-medium;
    line-height: (36/26);
    letter-spacing: 0.01em;
    color: $white;

    @include media($medium-screen-up) {
      @include rem(font-size, 26);
    }
  }

  &__subtitle {
    @include rem(font-size, 18);
    font-weight: $fw-medium;
    line-height: (36/26);
    letter-spacing: 0.01em;

    @include media($medium-screen-up) {
      @include rem(font-size, 26);
    }
  }
}
