.bar-horizontal {
  position: relative;

  &__data {
    fill: $primary-colour;
  }

  &__value {
    @include rem(font-size, 19);
    font-weight: $fw-medium;
    letter-spacing: -0.01em;
    fill: $black;
  }

  .y-axis {
    text {
      @include media($medium-screen-up) {
        @include rem(font-size, 12);
      }
    }
  }
}