.chart {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.is-active {
    opacity: 1;
  }

  &.choropleth {
    padding-top: em(80);
  }

  .x-axis,
  .y-axis {
    path,
    line {
      stroke: rgba($grey5, 0.7);
    }

    text {
      font-family: $ff-primary;
      @include rem(font-size, 12);
      letter-spacing: 0.025em;
      fill: $white;

      @include media($medium-screen-up) {
        @include rem(font-size, 14);
      }
    }
  }

  .x-axis-title,
  .y-axis-title {
    fill: $white;
    @include rem(font-size, 12);

    @include media($medium-screen-up) {
      @include rem(font-size, 14);
    }
  }

  .grid-x,
  .grid-y {
    line,
    path {
      stroke: rgba($grey5, 0.7);
    }
  }

  .plot {
    fill: $white;
    stroke-width: 1;
    stroke: $primary-colour;

    @include media($medium-screen-up) {
      stroke-width: 2;
    }
  }

  .plot-outer {
    fill: none;
    stroke-width: 1;
    stroke: rgba($white, 0.3);
  }
}