.choropleth {
  position: relative;
  overflow: hidden;

  &--range {
    padding-top: em(80);
  }

  &__svg {
    display: block;
    background: {
      image: url('../assets/images/choropleth-grid-background.svg');
      repeat: no-repeat;
      position: left top;
      size: 100%;
    }
  }

  &__item {
    stroke-width: 0.03em;
    stroke: rgba($black, 0.1);
  }

  &__tooltip {
    position: absolute;
    transform: translateY(-100%);
    pointer-events: none;
    padding: 0.5em 1em;
    @include rem(font-size, 12);
    color: $white;
    background-color: rgba($black, 0.8);
    border: em(1) solid $black;
    @include rem(border-radius, 5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease,
                visibility 0s ease 0.1s;

    &.is-active {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.1s ease;
    }
  }
}