.custom {
  &__chart {
    position: relative;
    width: 100%;
    margin-top: 2em;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 38.62%;
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__label {
    position: relative;
    padding-left: em(24, 14);
    @include rem(font-size, 14);

    @include media($medium-screen-up) {
      display: inline-block;
      vertical-align: middle;
      padding-left: em(32, 14);
    }

    & + #{&} {
      @include media($medium-screen-up) {
        margin-left: em(24, 14);
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      @include rem(width, 12);
      @include rem(height, 12);
      border-radius: 50%;

      @include media($medium-screen-up) {
        @include rem(width, 16);
        @include rem(height, 16);
      }
    }

    &--first {
      &:before {
        border: em(3, 14) solid $tertiary-colour;
      }
    }

    &--last {
      &:before {
        background-color: $primary-colour;
      }
    }
  }
}