$donut-radius: 330;

.donut {
  position: relative;
  overflow: hidden;

  &-col {
    position: relative;
    display: inline-block;
    vertical-align: top;
    max-width: em($donut-radius + $space);
    padding: em($space / 2);
    text-align: center;
  }

  &__svg-container {
    position: relative;

    .donut--single & {
      &:before {
        content: '';
        position: absolute;
        top: 13%;
        left: 13%;
        display: block;
        width: 74%;
        height: 74%;
        background-color: $primary-colour;
        border-radius: 50%;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }
  }

  &__svg {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  &__description {
    margin-top: 2em;

    .donut--multi + & {
      position: absolute;
      bottom: calc(50vw - #{em($space / 2)});
      left: 50%;
      transform: translate(-50%, 50%);
      width: calc(100% * 0.6);
      margin-top: 0;
      @include rem(font-size, 21);
      font-weight: $fw-medium;
      letter-spacing: 0.025em;
      color: $primary-colour;

      @include media(min-width em($donut-radius + $space + $space)) {
        bottom: em(($donut-radius + $space) / 2, 21);
      }
    }
  }
}
