.stacked-area {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__svg {
    display: block;
  }

  .x-axis,
  .y-axis {
    path {
      opacity: 0;
    }

    text {
      fill: $white;
    }

    line {
      fill: $grey5;
    }
  }
}