{% extends '_layouts/application.html' %}
{% block content %}
  {% include './_partials/header.html' %}
  <article class="article story wrapper u-space--l">
    <div class="article__copy">
      <div class="story__header">
        <h1>{{ story8Title }}</h1>
        <p>{{ story8P1 }}</p>

        <div class="story__share share">
          <a href="#" class="share__btn btn btn--outline">{{ facebookShareText }}</a>
          <a href="#" class="share__btn btn btn--outline">{{ twitterShareText }}</a>
          <a href="#" class="share__btn btn btn--outline">{{ emailShareText }}</a>
        </div>
      </div>

      <p>{{ story8P2 }}</p>
      <p>{{ story8P3 }}</p>
      <p>{{ story8P4 }}</p>
      <p>{{ story8P5 }}</p>
      <p>{{ story8P6 }}</p>
    </div>

    <figure class="article__figure">
      <img src="/images/dummy.jpg" alt="">
    </figure>

    <div class="article__copy">
      <p>{{ story8P7 }}</p>
      <p>{{ story8P8 }}</p>
      <p>{{ story8P9 }}</p>
      <p>{{ story8P10 }}</p>
      <p>{{ story8P11 }}</p>
      <p>{{ story8P12 }}</p>
      <p>{{ story8P13 }}</p>
      <p>{{ story8P14 }}</p>
      <p>{{ story8P15 }}</p>
      <p>{{ story8P16 }}</p>
      <p>{{ story8P17 }}</p>
      <p>{{ story8P18 }}</p>
      <p>{{ story8P19 }}</p>
      <p>{{ story8P20 }}</p>
      <p>{{ story8P21 }}</p>
      <p>{{ story8P22 }}</p>
      <p>{{ story8P23 }}</p>
      <p>{{ story8P24 }}</p>
      <p>{{ story8P25 }}</p>
      <p>{{ story8P26 }}</p>
      <p>{{ story8P27 }}</p>
      <p>{{ story8P28 }}</p>
      <p>{{ story8P29 }}</p>
      <p>{{ story8P30 }}</p>
      <p>{{ story8P31 }}</p>
      <p>{{ story8P32 }}</p>
      <p>{{ story8P33 }}</p>
      <p>{{ story8P34 }}</p>
      <p>{{ story8P35 }}</p>
      <p>{{ story8P36 }}</p>
      <p>{{ story8P37 }}</p>
      <p>{{ story8P38 }}</p>
      <p>{{ story8P39 }}</p>
      <p>{{ story8P40 }}</p>
      <p>{{ story8P41 }}</p>
      <p>{{ story8P42 }}</p>
      <p>{{ story8P43 }}</p>
      <p>{{ story8P44 }}</p>
      <p>{{ story8P45 }}</p>
      <p>{{ story8P46 }}</p>
      <p>{{ story8P47 }}</p>
      <p>{{ story8P48 }}</p>
      <p>{{ story8P49 }}</p>
      <p>{{ story8P50 }}</p>
      <p>{{ story8P51 }}</p>
      <p>{{ story8P52 }}</p>
      <p>{{ story8P53 }}</p>

      <div class="article__share share">
        <a href="#" class="share__btn btn btn--outline">{{ facebookShareText }}</a>
        <a href="#" class="share__btn btn btn--outline">{{ twitterShareText }}</a>
        <a href="#" class="share__btn btn btn--outline">{{ emailShareText }}</a>
      </div>
    </div>
  </article>

  {% include '_partials/section-nav.html' %}

{% endblock %}
