//------------------------------------------------------------------------
//  $Main
//------------------------------------------------------------------------

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: rem(30);
  @include rem('font-size',16);
  line-height: 1.5;
  font-family: $ff-primary;
  color: $black;
  background-color: $white;
}
