//------------------------------------------------------------------------
//  $Headings reset
//------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

//------------------------------------------------------------------------
//  $Heading mixins
//------------------------------------------------------------------------

@mixin h-l() {
  font: em(24px) $ff-primary;

  @include media($medium-screen-up) {
    font-size: em(48px);
  }
}

@mixin h-m() {
  font: em(21px) $ff-primary;

  @include media($medium-screen-up) {
    font-size: em(36px);
  }
}

@mixin h-s() {
  font: em(18px) $ff-primary;

  @include media($medium-screen-up) {
    font-size: em(24px);
  }
}

//------------------------------------------------------------------------
//  $Heading classes
//------------------------------------------------------------------------

.h-l {
  @include h-l();
}

.h-m {
  @include h-m();
}

.h-s {
  @include h-s();
}
