.card-wrapper {
  padding-top: em($space);
  padding-bottom: em($space);

  @include media($medium-screen-up) {
    padding-top: em($space * 2);
    padding-bottom: em($space * 2);
  }

  &--dark {
    background-color: $light-grey2;
  }
}

.card {
  background-color: $white;
  box-shadow: em(0) em(0) em(10) em(5) rgba($black, 0.04);

  &--table {
    padding: em(30);

    @include media($medium-screen-up) {
      @include table();
    }

    + #{&} {
      margin-top: em(30);
    }
  }

  &--block {
    @include media($medium-screen-up) {
      @include span-columns(6 of 12);
    }
  }

  &__cell {
    &--feature {
      @include flow();
    }

    .card--table & {
      @include media($medium-screen-up) {
        @include display-context(table) {
          @include span-columns(6);
        }
        vertical-align: top;
        @include pad(#{em(12)} default #{em(12)} 0);
      }

      @include media($large-screen-up) {
        @include display-context(table) {
          @include span-columns(7);
        }
      }

      &--last {
        margin-top: em(30);

        @include media($medium-screen-up) {
          margin-top: 0;
          @include pad(#{em(12)} 0 #{em(12)} default);
          border-left: em(1) solid $light-grey;
        }

        @include media($large-screen-up) {
          @include display-context(table) {
            @include span-columns(5);
          }
        }
      }
    }

    .card--block & {
      padding: em($space);
    }
  }

  &__thumb {
    width: 100%;
    height: 0;
    padding-bottom: 52%;
    background: {
      repeat: no-repeat;
      position: center;
      size: cover;
    }
  }

  &__link-wrapper {
    display: block;
    text-decoration: none;
  }

  &__link {
    display: block;
    @include rem(margin-top, 16);
    @include rem(font-size, 16);
    line-height: 1.1875;
    font-weight: $fw-light;
    letter-spacing: 0.01em;
    color: $navy;
  }

  &__title {
    @include rem(margin-top, 20);
    @include rem(font-size, 38);
    font-weight: $fw-regular;
    line-height: 1.21;
    letter-spacing: 0.025em;
    color: $black;
  }

  &__subtitle {
    display: inline-block;
    @include rem(font-size, 19);
    line-height: 1.16;
    font-weight: $fw-medium;
    letter-spacing: 0.025em;
    color: $black;
    text-decoration: none;
    background-color: $primary-colour;

    .card--block & {
      @include rem(font-size, 21);
      line-height: (34/21);
      letter-spacing: 0.01em;
    }
  }

  &__excerpt {
    @include rem(font-size, 21);
    line-height: (34/21);
    letter-spacing: 0.01em;
  }

  &__cta {
    display: block;
    @include rem(font-size, 15);
    font-weight: $fw-medium;
    line-height: (23/15);
    letter-spacing: 0.01em;
    color: $black;
    text-decoration: none;

    svg {
      margin-left: 0.5em;
    }
  }

  &__featured {
    @include rem(font-size, 16);
    line-height: 1.2;
    font-weight: $fw-light;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color: $dark-grey;
  }
}