.card-wrapper {
  padding-top: em($space);
  padding-bottom: em($space);

  @include media($medium-screen-up) {
    padding-top: em($space * 2);
    padding-bottom: em($space * 2);
  }

  &--dark {
    background-color: $off-white;
  }

  .article + & {
    margin-top: em($space);
    padding-top: 0;
  }
}

.card {
  background-color: $white;
  box-shadow: em(0) em(0) em(10) em(5) rgba($black, 0.04);

  + #{&} {
    @include media($medium-screen-down) {
      margin-top: em(30);
    }
  }

  &--table {
    padding: em(30);

    @include media($medium-screen-up) {
      @include table();

      + #{&} {
        margin-top: em(30);
      }
    }
  }

  &--block {
    @include media($medium-screen-up) {
      @include span-columns(6 of 12);
      margin-top: 0;
    }
  }

  &__cell {
    &--feature {
      @include flow();
    }

    .card--table & {
      @include media($medium-screen-up) {
        @include display-context(table) {
          @include span-columns(6);
        }
        vertical-align: top;
        @include pad(#{em(12)} default #{em(12)} 0);
      }

      @include media($large-screen-up) {
        @include display-context(table) {
          @include span-columns(7);
        }
      }

      &--last {
        margin-top: em(20);

        @include media($medium-screen-up) {
          margin-top: 0;
          @include pad(#{em(12)} 0 #{em(12)} default);
          border-left: em(1) solid $grey;
        }

        @include media($large-screen-up) {
          @include display-context(table) {
            @include span-columns(5);
          }
        }
      }
    }

    .card--block & {
      padding: em($space);
    }
  }

  &__thumb {
    width: 100%;
    height: 0;
    padding-bottom: 52%;
    background: {
      repeat: no-repeat;
      position: center;
      size: cover;
    }
  }

  &__link-wrapper {
    display: block;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      outline: none;

      .card__subtitle {
        transform: translateX(0.5em);
      }
    }
  }

  &__link {
    display: block;
    @include rem(margin-top, 14);
    text-decoration: none;
    transition: transform 0.2s ease;

    &:hover,
    &:active,
    &:focus {
      outline: none;
      transform: translateX(0.5em);
    }

    &-text {
      display: inline;
      padding: 0.1em 0.1em;
      @include rem(font-size, 14);
      line-height: 1.1875;
      letter-spacing: 0.01em;
      color: $white;
      background-color: $black;

      @include media($medium-screen-up) {
        @include rem(font-size, 16);
      }
    }
  }

  &__title {
    margin-top: 1em;
    @include rem(font-size, 19);
    font-family: $ff-secondary;
    font-weight: $fw-regular;
    line-height: 1.21;
    letter-spacing: 0.025em;
    color: $black;

    @include media($medium-screen-up) {
      @include rem(font-size, 38);
      margin-top: 0.6em;
    }
  }

  &__subtitle {
    display: inline-block;
    padding: 0.2em 0.1em;
    @include rem(font-size, 14);
    line-height: 1.16;
    font-weight: $fw-medium;
    letter-spacing: 0.025em;
    color: $black;
    text-decoration: none;
    background-color: $primary-colour;
    transition: all 0.2s ease;

    &:hover,
    &:active,
    &:focus {
      outline: none;
      background-color: darken($primary-colour, 10%);
    }

    @include media($medium-screen-up) {
      @include rem(font-size, 19);
    }

    .card--block & {
      @include rem(font-size, 14);
      line-height: (34/21);
      letter-spacing: 0.01em;

      @include media($medium-screen-up) {
        @include rem(font-size, 21);
      }
    }
  }

  &__excerpt {
    @include rem(font-size, 14);
    line-height: (34/21);
    letter-spacing: 0.01em;

    @include media($medium-screen-up) {
      @include rem(font-size, 21);
    }
  }

  &__cta {
    display: block;
    @include rem(font-size, 14);
    font-weight: $fw-medium;
    line-height: (23/15);
    letter-spacing: 0.01em;
    color: $black;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover,
    &:active,
    &:focus {
      outline: none;

      svg {
        transform: translateX(0.25em);
      }
    }

    @include media($medium-screen-up) {
      @include rem(font-size, 15);
    }

    svg {
      margin-left: 0.5em;
      transition: transform 0.2s ease;
    }
  }

  &__featured {
    @include rem(font-size, 12);
    line-height: 1.2;
    font-weight: $fw-light;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color: $dark-grey;

    @include media($medium-screen-up) {
      @include rem(font-size, 16);
    }
  }
}