.data {
  padding: em($space * 0.5);
  color: $white;
  background-color: $dark-grey;

  @include media($medium-screen-up) {
    padding: em($space * 1.5) em($space * 1.5);
  }

  &--donut {
    text-align: center;
  }

  &__footer {
    @include clearfix();
    margin-top: 2em;
  }

  &__share {
    position: relative;
    display: none;

    @include media($large-screen-up) {
      float: left;
    }

    .subsection & {
      display: block;
    }
  }

  &__link {
    padding: 0;
    font-family: $ff-primary;
    @include rem(font-size,14);
    font-weight: $fw-medium;
    letter-spacing: 0.01em;
    color: $white;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.1s ease;

    &:hover,
    &:active,
    &:focus {
      outline: none;
      opacity: 0.6;
    }

    + #{&} {
      @include rem(margin-left, 10);

      @include media($medium-screen-up) {
        @include rem(margin-left, 20);
      }
    }

    > * {
      display: inline-block;
      vertical-align: middle;
    }

    &-text {
      margin-left: 0.25em;
    }

    path {
      fill: $white;
    }
  }

  &__sources {
    margin-top: 1em;
    @include rem(font-size, 14);

    @include media($large-screen-up) {
      float: right;
      max-width: 50%;
      margin-top: 0;
      text-align: right;
    }
  }

  &__embed {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    width: 100%;
    max-width: em(600);
    margin-top: 1em;
    padding: em($space);
    text-align: left;
    background-color: rgba($black,0.9);
    opacity: 0;
    visibility: hidden;
  }

  &__textarea {
    width: 100%;
    height: em(60);
    overflow: hidden;
    border: none;
  }
}
