.intro {
  padding-top: em($space);
  text-align: center;

  @include media($medium-screen-up) {
    padding-top: em($space * 1.5);
    border-color: $grey;
  }

  &__text {
    max-width: em(830,19);
    margin-left: auto;
    margin-right: auto;
    @include rem(font-size, 14);
    font-weight: $fw-light;
    line-height: 1.47;
    letter-spacing: 0;

    @include media($medium-screen-up) {
      @include rem(font-size, 19);
    }
  }

  &__link {
    display: inline-block;
    margin-top: 1.5em;
    @include rem(font-size, 14);
    font-weight: $fw-medium;
    line-height: 1.37;
    letter-spacing: 0;
    text-decoration: none;
    color: $black;
    transition: all 0.1s ease;

    &:hover,
    &:active,
    &:focus {
      outline: none;

      svg {
        transform: translateX(0.25em);
      }
    }

    @include media($medium-screen-up) {
      @include rem(font-size, 19);
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      transition: transform 0.1s ease;
    }
  }
}