.legend {
  list-style: none;
  margin: 0;
  padding: 0;

  &--scale {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;

    @include media($medium-screen-up) {
      text-align: center;
    }
  }

  &--donut {
    display: inline-block;
    margin-bottom: 2em;
    width: 100%;
    text-align: center;
  }

  &--multiline {
    text-align: center;

    @include media($medium-screen-up) {
      text-align: left;
    }
  }

  &__item {
    display: block;
    text-align: left;

    + #{&} {
      margin-top: em(5);

      .legend--multiline & {
        margin-top: 0;
        margin-left: 1em;
      }
    }

    .legend--donut & {
      display: inline-block;
      margin: 0.25em;
    }

    .legend--multiline & {
      display: inline-block;
    }
  }

  &__scale,
  &__key,
  &__value,
  &__name {
    display: inline-block;
    vertical-align: middle;
  }

  &__key {
    width: em(16);
    height: em(16);
    background-color: $white;

    @include media($medium-screen-up) {
      width: em(20);
      height: em(20);
    }

    .legend--multiline & {
      border-radius: 50%;
    }
  }

  &__label,
  &__value,
  &__name {
    @include rem(font-size, 14);
    line-height: 1;
    letter-spacing: 0.025em;
  }

  &__label {
    margin-bottom: 0.5em;
  }

  &__name {
    @include rem(padding-left,10);

    .legend--donut & {
      max-width: calc(100% - #{rem(20)});
      @include rem(padding-right,10);
    }

    .legend--multiline & {
      @include rem(padding-left,5);
    }
  }

  &__scale {
    width: em(200);
    height: em(15);
    margin: 0 1em;
    background: linear-gradient(to right, $white 0%, $primary-colour 100%);

    @include media($medium-screen-up) {
      height: em(25);
    }
  }
}