.legend {
  list-style: none;
  margin: 0;
  padding: 0;

  &--scale {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;

    @include media($medium-screen-up) {
      text-align: center;
    }
  }

  &--donut {
    display: inline-block;
    margin-top: 2em;
    width: 100%;
    text-align: center;
  }

  &--multiline {
    text-align: center;

    @include media($medium-screen-up) {
      padding-left: em(60);
      text-align: left;
    }
  }

  &--stacked {
    margin-bottom: 1em;

    @include media($medium-screen-up) {
      padding-left: em(55);
    }
  }

  &--choropleth-ordinal {
    padding-left: 0;
    padding-bottom: em($space);
  }

  &__item {
    display: block;
    text-align: left;

    .legend--multiline &,
    .legend--stacked & {
      margin: em(5);
    }

    .legend--choropleth-ordinal & {
      margin: em(5) em(16) em(5) em(5);
    }

    + #{&} {
      margin-top: em(5);
    }

    .legend--donut & {
      display: inline-block;
      margin: 0.25em;
    }

    .legend--multiline &,
    .legend--stacked &,
    .legend--choropleth-ordinal & {
      display: inline-block;
    }
  }

  &__scale,
  &__key,
  &__value,
  &__name {
    display: inline-block;
    vertical-align: middle;
  }

  &__key {
    width: em(16);
    height: em(3);
    background-color: $white;

    @include media($medium-screen-up) {
      width: em(20);
      height: em(3);
    }

    .legend--stacked &,
    .legend--choropleth-ordinal & {
      width: em(14);
      height: em(14);
    }
  }

  &__label,
  &__value,
  &__name {
    @include rem(font-size, 14);
    line-height: 1;
    letter-spacing: 0.025em;
  }

  &__label {
    margin-bottom: 0.5em;
  }

  &__name {
    @include rem(padding-left,10);

    @include media($small-screen-down) {
      max-width: calc(100% - #{rem(24)});
    }

    .legend--donut & {
      max-width: calc(100% - #{rem(20)});
      @include rem(padding-right,10);
    }
  }

  &__scale {
    width: em(200);
    height: em(15);
    margin: 0 1em;
    background: linear-gradient(to right, $white 0%, $primary-colour 100%);

    @include media($medium-screen-up) {
      height: em(25);
    }
  }
}