@mixin media-figure() {
  @include display-context(table) {
    @include span-columns(5);
  }
  vertical-align: top;
}

@mixin media-body() {
  @include display-context(table) {
    @include span-columns(7);
  }
  @include pad(0 0 0 #{$space}px);
  margin-top: 0;
}

.media {
  &--large {
    @include media($medium-screen-up) {
      @include table();
    }
  }

  &--medium {
    @include media($large-screen-up) {
      @include table();
    }
  }
}

.media__figure {
  .media--medium & {
    @include media($large-screen-up) {
      @include media-figure();
    }
  }

  .media--large & {
    @include media($medium-screen-up) {
      @include media-figure();
    }
  }

  img {
    display: block;
  }
}

.media__body {
  position: relative;
  margin-top: 1em;
  vertical-align: top;

  .media--medium & {
    @include media($large-screen-up) {
      @include media-body();
    }
  }

  .media--large & {
    @include media($medium-screen-up) {
      @include media-body();
    }
  }
}

.media__link {
  display: block;

  &--fixed {
    .media--medium & {
      @include media($large-screen-up) {
        position: absolute;
        bottom: 0;
        @include rem(left, $space);
      }
    }
  }
}