.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  &-item {
    @include media($large-screen-up) {
      display: inline-block;
      vertical-align: middle;
    }

    + #{&} {
      @include media($large-screen-up) {
        margin-left: em(70);
      }
    }
  }

  a {
    display: block;
    @include rem(font-size, 15);
    font-weight: $fw-light;
    line-height: 1.2;
    letter-spacing: 0.025em;
    text-decoration: none;
    color: $dark-grey;

    @include media($large-screen-up) {
      padding: em(34, 15) 0;
    }
  }
}

.current-menu-item {
  a {
    font-weight: $fw-bold;
  }
}

.submenu-wrapper {
  @include media($medium-screen-up) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $white;
  }
}

.submenu {
  display: none;
  margin: 0 -0.5em;

  @include media($medium-screen-up) {
    margin: 0 auto;
  }

  .menu__item--active & {
    display: block;
  }

  &__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0.5em;

    @include media($medium-screen-up) {
      margin: 0;

      + #{&} {
        margin-left: 1em;
      }
    }
  }

  &__link {
    display: block;
    padding: 0;
    text-decoration: none;

    @include media($medium-screen-up) {
      padding: 1em 0;
    }
  }
}
