.menu {
  margin: 0;
  padding: 0 em($space);
  list-style: none;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &-item {
    display: inline-block;
    vertical-align: middle;

    + #{&} {
      margin-left: em(24);

      @include media($xlarge-screen-up) {
        margin-left: em($space * 1.5);
      }
    }
  }

  a {
    display: block;
    padding: em(17, 12) 0;
    @include rem(font-size, 12);
    font-weight: $fw-light;
    line-height: 1.2;
    letter-spacing: 0.025em;
    text-decoration: none;
    color: $dark-grey;

    @include media($medium-screen-up) {
      padding: em(17, 15) 0;
      @include rem(font-size, 15);
    }
  }
}

.current-menu-item {
  a {
    font-weight: $fw-bold;
  }
}
