.menu {
  margin: 0;
  padding: 0 em($space);
  list-style: none;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &-item {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    + #{&} {
      margin-left: em(24);

      @include media($xlarge-screen-up) {
        margin-left: em($space * 2);
      }
    }
  }

  a {
    position: relative;
    display: block;
    @include rem(height, $nav-height);
    @include rem(padding-left, 2);
    @include rem(padding-right, 2);
    z-index: 1;
    @include rem(font-size, 12);
    @include rem(line-height, $nav-height);
    letter-spacing: 0.025em;
    text-decoration: none;
    color: $dark-grey;
    transition: all 0.1s ease;

    &:hover,
    &:active,
    &:focus {
      outline: none;
      color: $white;

      &:before {
        opacity: 1;
      }
    }

    @include media($medium-screen-up) {
      @include rem(font-size, 15);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0.8em;
      right: 0;
      bottom: 0.8em;
      left: 0;
      z-index: -1;
      background: $black;
      opacity: 0;
      transition: opacity 0.1s ease;
    }
  }
}

.current-menu-item {
  a {
    color: $white;

    &:before {
      opacity: 1;
    }
  }
}
