.share {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;

  @include media($medium-screen-up) {
    position: fixed;
    top: em($header-height + ($space * 2));
    left: em($space);
    width: em($share-width);
    margin-top: 0;
    margin-bottom: 0;
  }

  @include media($max-width-screen-up) {
    left: calc(50% - #{em(610)});
  }

  &.is-fixed-bottom {
    @include media($medium-screen-up) {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
    }

    @include media($max-width-screen-up) {
      left: em(30);
    }
  }

  &__btn {
    display: inline-block;
    text-decoration: none;
    color: $dark-grey;

    @include media($medium-screen-up) {
      display: block;
    }

    + #{&} {
      margin-left: 1em;

      @include media($medium-screen-up) {
        margin-left: 0;
        margin-top: 0.75em;
      }
    }
  }

  &__text,
  &__icon {
    display: block;
  }

  &__text {
    margin-bottom: 0.5em;
    @include rem(font-size, 18);
    font-weight: $fw-light;
    line-height: 1.2;
    letter-spacing: 0.025em;

    @include media($medium-screen-up) {
      @include rem(font-size, 14);
    }
  }

  &__icon {
    @include media($medium-screen-up) {
      display: inline-block;
    }

    svg {
      display: block;
      margin: 0 auto;
    }
  }
}