//------------------------------------------------------------------------
//  $Header
//------------------------------------------------------------------------

.header {
  position: relative;
  padding-top: em($space * 0.5);
  background-color: $light-grey;

  @include media($large-screen-up) {
    padding-bottom: em(260);
  }

  &__link {
    display: inline-block;
    text-decoration: none;
  }

  &__nav {
    @include media($large-screen-up) {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: $light-grey;
      transform: translateZ(0);

      &.is-fixed {
        position: fixed;
        top: 0;
        bottom: auto;
      }
    }
  }

  &__menu {
    margin-top: 1em;

    @include media($large-screen-up) {
      float: left;
      margin-top: 0;
    }
  }

  &__language-select {
    @include media($large-screen-up) {
      float: right;
    }
  }
}
