.legend {
  position: absolute;
  top: 2em;
  left: 1em;
  max-width: em(300);

  &__scale,
  &__value {
    display: inline-block;
    vertical-align: middle;
  }

  &__scale {
    width: em(80);
    height: em(10);
    margin: 0 0.25em;
    border-radius: em(10);
    background: linear-gradient(to right, rgba($white, 0.1) 0%, $white 100%);
  }

  &__value {
    @include rem(font-size, 12);
  }
}