//------------------------------------------------------------------------
//  $Buttons
//------------------------------------------------------------------------

.btn {
  display: inline-block;
  width: 100%;
  max-width: em(440, 21);
  padding: em(16, 21);
  @include rem(font-size, 21);
  line-height: (36/21);
  font-weight: $fw-medium;
  text-align: center;
  text-decoration: none;
  color: $black;
  letter-spacing: 0.01em;
  background-color: $primary-colour;
}
