//------------------------------------------------------------------------
//  $Buttons
//------------------------------------------------------------------------

.btn {
  display: inline-block;
  width: 100%;
  max-width: em(360, 14);
  padding: em(16, 21);
  @include rem(font-size, 14);
  line-height: (36/21);
  font-weight: $fw-medium;
  text-align: center;
  text-decoration: none;
  color: $black;
  letter-spacing: 0;
  background-color: $primary-colour;
  transition: all 0.1s ease;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    background-color: darken($primary-colour, 10%);
  }

  @include media($medium-screen-up) {
    @include rem(font-size, 21);
    max-width: em(360, 21);
  }
}
